/* navigation bar styling  */
.navbar{
    background-color: rgb(2, 2, 42);
}

.navbar img{
    width: 10%;
}

.nav-link{
    color: white;
}

/* intro section container  */
#intro-section-container{
    background-color: rgb(2, 2, 42);
}

/* intro section styling  */
#intro-section-container{
    /* padding-top: 98px;
    padding-bottom: 98px; */
    height: 100vh;
}
#intro-text{
    font-size: 3.4rem;
}

/* strategist-section-container  */
#strategist-section-container{
    background-color: rgb(41, 38, 38);
    height: 100vh;
}

/* delight section  */
#delight-section{
    height: 100vh;
}

/* showcase section  */
.show-case-img{
    width: 100%;
    height: auto;
}


