#main-container{
    background-color: rgb(2, 2, 42);
}

/* navigation bar styling  */
.navbar{
    background-color: rgb(2, 2, 42);
}

.navbar img{
    width: 10%;
}

.nav-link{
    color: white;
}

/* intro section styling  */
#intro-text{
    font-size: 3.5rem;
}


